p.error___p {
	color:red!important;
	font-size: 16px;
	margin: 13px 3px;
}

.success___p {
	color: green!important;
}

input.is___error, textarea.is___error {
	border-left: 1px solid red!important;
}

.is___process {
	opacity: 0.8!important;
}


.null___view {
	width: 0!important;
	height: 0!important;
	margin: 0!important;
	padding: 0!important;
	opacity: 0!important;
	visibility: hidden!important;
}


/* Запрет выделения */
.some___class {
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}


.no___count {
	font-style: italic;
}



.oh-meta__status_payed {
	background-color: rgb(0, 183, 238);
}

.oh-meta__status_delivery {
	background-color: rgb(0, 183, 238);
}


.not___active_b_item {
	position: relative;
}
.not___active_b_item div.consist__item-figure, .not___active_b_item div.consist__item-content {
	opacity: 0.3;
}

p.no___credit {
	color: #ff5900;
	font-size: 11px;
	text-align: right;
}


.no___count_block {
	margin: 60px 0 20px 0;
}

.no___count_block p {
	font-style: italic;
	font-size: 16px;
}


.h-contacts__chats-list a.chat-telegram {
	background-position: -5px -4px;
}

.h-contacts__chats-list a.chat-viber {
	background-position: -38px -4px;
}



.link-all-2 {
	display: inline-block;
	vertical-align: top;
	height: 3rem;
	padding: 0 1.4rem;
	font-size: 1.4rem;
	line-height: 3rem;
	color: #8f77ed;
	text-decoration: none;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3rem;
	will-change: background-color, color;
	transition-property: background-color, color;
	transition-duration: 0.25s;
}

@media (max-width: 639px) {
	.link-all-2 {
		height: 3.6rem;
		padding: 0 1.4rem 0 2rem;
		font-size: 1.6rem;
		line-height: 3.6rem;
		border-radius: 3.6rem;
	}
}
.caption-box .link-all-2 {
	position: absolute;
	right: 0;
	bottom: 0.5rem;
}
@media (max-width: 991px) {
	.caption-box .link-all-2 {
		bottom: 0;
	}
}
.link-all-2 svg {
	position: relative;
	top: 1.2rem;
	display: inline-block;
	vertical-align: top;
	width: 1rem;
	height: 0.6rem;
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
@media (max-width: 639px) {
	.link-all-2 svg {
		top: 1.5rem;
		margin-left: 0.2rem;
	}
}
.link-all-2 svg path, .link-all-2 svg use {
	stroke: currentColor;
}
.link-all-2:hover {
	color: white;
	background-color: #8f77ed;
}
.link-all-2:active {
	-ms-transform: translate(0, 1px);
	transform: translate(0, 1px);
}



.header_fav_cnt_block_big {
	width: 1.3rem!important;
}

.radiocheck-img input[type="checkbox"]:checked ~ em, .radiocheck-img input[type="radio"]:checked ~ em {
	color: rgba(0, 0, 0, 0.5);
}

.radiocheck-img {
	margin: 9px 1.2rem;
}
.swiper-slide {
	text-align:center;
}
.man {
	color:#2D2D2D;
}
svg:hover .man {
	color:white;
}

.rassrochkaConfirmButton, .creditConfirmButton, .yurConfirmButton {
	margin: 0 30px 0 0;
}

.rassrochkaConfirmButton.yesRassrochkaOrderButton {
	background-color: #8f77ed;
	color: white;
}
.creditConfirmButton.yesCreditOrderButton {
	background-color: #8f77ed;
	color: white;
}
.yurConfirmButton.yesYurOrderButton {
	background-color: #8f77ed;
	color: white;
}


.p-sticker_action {
	background-color: #96d728;
}


.hiddenPaginationBlock {
	display:none;
}